    /* Universal */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(228, 150, 49);
} 

body {
    
     font-family: 'Dancing Script';
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
    font-family:'poppins', sans-serif;
}
h5 {
    font-size: 1rem;
    font-family:'poppins', sans-serif;
}
h6 {
    font-size: 0.85rem;
    font-family:'poppins', sans-serif;
}
p {
    font-family:'poppins', sans-serif;
}
li, a, button {
    font-weight: 500;
    font-size: 27px;
    color: black;
    text-decoration: none;
    list-style: none;
}

    /* Nav Bar */

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin: auto;
}

.logo {
    width: 150px;
    height: 150px;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: crimson;    
}
a.btn, .btn {
    padding: 9px 25px;
    background-color: crimson;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgb(241, 4, 4);
}

    /* Showcase */

    .shadow {
        position: absolute;
        background-color: rgba(63, 63, 63, 0.267);
        width: 100%;
        height: 100%;
        z-index: 1;
    }

section.showcase {
    background-image: url('Header-img.webp');
    background-size: cover;
    height: 350px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    justify-content: center;
    box-shadow:  0 8px 26px 0 rgba(0,0,0,0.4);
}

div.head-text {
    background: none;
    padding: 20px 30px;
    text-shadow: 2px 6px 16px #fff;
}
div.head-text h1, div.head-text h2 {
    background: none;
    text-align: center;
}
    
    /* Cartas */

section.recetas {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 10px 20px 40px;
}
section.recetas h2 {
    grid-column: 2/3;
    grid-row: 1; 
}
.container p {
    font-size: 15px;
}
.card {
    grid-row: 2;
    background-color: aliceblue;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translateY(-15px);
}
.container {
    padding: 2px 16px;
}

    /* Contenido */

section.content {
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    margin: 70px auto 0 auto;
}
div.box2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 50px auto;
    align-items: center;
}
div.box2 img {
    grid-row: 1 / 3;
}
div.box2 p {
    margin: 30px;
    grid-column: 2 / 3;
}
div.box h2 {
    margin-top: 45px;
}
div.box p {
    margin: 25px;
}
.imgredonda {
    width:300px;
    height:300px;
    margin: 50px;
    border-radius:150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

    /* Recetario */

.grid-container {

    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    align-items: center;
}
.grid-container h2 {
    grid-column: 1 / span 2;
    margin: 15px;
}
.grid-item {
    width: 100%;
}
.grid-container img {
    align-items: center;
}
.grid-item1 {
    grid-row: 4 / 4 span;
}
.grid-item1 li {
    margin: 20px;
}
section.video {
    margin: 50px;
    text-align: center;
}

    /* Contacto Showcase */

.about-us video {
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
}
section.Contact {
    height: 500px;
}
.contact-box {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgb(0, 0, 0);
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.about-us h1 {
    padding: 10px;
    position: absolute;
    top: 40%;
    right: 200px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 15px;

}
form {
    margin: 35px;
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.5);
}
form h4, form h5 {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
}
.input-field {
    font-family: 'poppins';
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding: 0 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 14px;
    outline: none;
}
.textarea-field {
    height: 150px;
    padding-top: 10px;
}

/* Google Maps */

section.maps {
    text-align: center;
    padding: auto;
    margin: auto;
}
.maps h2 {
    margin: 40px auto 20px auto;
}
div.mapas {
    background-color: rgba(50, 50, 50, 0.5);
    margin: 40px;
}
.mapas iframe {
    border-radius: 25px;
    justify-content: space-between;
}

/* Footer */

footer {
    bottom: 0;
    background-color: rgb(0, 0, 58);
    align-items: center;
    justify-items: center;
    display: flex;
    justify-self: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
footer div {
    background: none;
}
footer h2, footer p, footer nav, footer ul, footer li, footer i, footer a {
    font-weight: 200;    
    background: none;
    color: aliceblue;
    
}
footer a:hover, footer i:hover {
    color: crimson;
    transition: all 0.4s ease 0s;    
}
footer a {
    font-size: 23px;
}
a i {
    margin: 15px;
}

@media (max-width: 991px) {

    .header a {
        font-size: 28px;
    }
    section.recetas {
    display: flex;
    justify-content: center;
    flex-flow: column;

    }
    .recetas h2 {
        margin-top: 20px;
    }
    li, a, button {
        
        font-size: 20px;
        
    }
    .logo {
        width: 100px;
        height: 100px;
        margin: auto;
    }

    section.content {
        text-align: center;
        padding: auto;
        margin: auto;
    }
    div.box2 {
        display: grid;
        grid-template-columns: auto;
        margin: auto;
        align-items: center;
    }
    div.box2 img {
        grid-row: 1 / 1;
    }
    div.box2 p {
        margin: auto;
        grid-column: 1 / 1;
    }
    div.box h2 {
        margin-top: 45px;
    }
   
    .imgredonda {
        width: 220px;
        height: 200px;
        margin: 50px;

    }
    .box2 img {
        width: 300px;
        height: auto;
        margin: 20px auto;
    }

    footer {
     
        grid-template-columns: auto;
        height: 300px;
        padding: 20px;
        gap: 10px;
    }
    .grid-container {

        display: grid;
        grid-template-columns: auto;
        gap: 15px;
        padding: 10px;
        margin: auto;
        text-align: center;
        align-items: center;
    }
    .grid-container h2 {
        grid-column: 1 / 1;
        margin: auto;
    }
    .grid-item {
        width: 100%;
    }
    iframe {
        width: 100%;
        height: auto;
    }
    .grid-item1 {
        grid-row: 4 / 4 span;
    }
    .grid-item1 li {
        margin: auto;
    }
    
    
   
}